mark.queryHighlight  {
  background: rgba(0, 255, 255, 0.1);
  box-shadow: 0 0 5px 2px rgba(0, 255, 255, 0.3);
}

.headerContainer {
  margin-left: 80px;
  margin-right: 80px;
  align-items: 'center';
  justify-content: 'center';
}

.wishlistButton {
  min-width: 190px;
}

@media only screen and (max-width: 900px) {
  table.bookList.ui.table thead {
    display: none !important;
  }

  table.bookList.ui.table tbody td:nth-of-type(2),
  table.bookList.ui.table tbody td:nth-of-type(3),
  table.bookList.ui.table tbody td:nth-of-type(4) {
    display: block !important;
    width: 100% !important;
  }

  .buttons button {
    font-size: 0 !important;
    min-width: 50px;;
  }

  .buttons button i{
    font-size: initial !important;
    line-height: 1.1em;
    padding-left: 7px;
  }
}